.card-content{
    flex: 1 1 auto;
}

.img-field{
    max-width: 60%;
    margin: 0.7rem auto 0.7rem auto;
}

.img-trimming-field{
    margin: 0.7rem auto 0.7rem auto;
}

.img-trimming{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.img-trimming-sm{
    width: 40px;
    height: 40px;
    object-fit: cover;
}